.header .darkLight i,
.header .darkLight span,
.header .searchToggel i {
    position: absolute;
    color: var(--pars-other) ;
    cursor: pointer;
    transition: all 0.3s ease;
}
                                                                                  /*! blogs */
.blog-grid {
  padding: 200px 0 0;
  overflow: hidden;
}
.blog-grid .cards {
  gap: 25px;
}
.blog-grid .card {
  background: var(--divs-color);
  padding: 0;
  width: 23%;
  border: none;
}
.blog-grid .card .image {
  position: relative;
  overflow: hidden;
}
.blog-grid .card .image div {
  position: absolute;
  top: 152%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #121212;
  background: rgb(255 255 255 / 38%);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.blog-grid .image:hover div {
  top: 50%;
  transition: 0.5s;
}
.blog-grid .card .image div a {
  padding: 11px 47px;
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  align-self: center;
  margin: 25px 0;
}
.blog-grid .card .image div a:hover {
  background-color: #f36a8d;
  transition: 0.4s;
}
.blog-grid .card .image img {
  width: 100%;
}
.blog-grid .card .info {
  padding: 25px;
  color: white;
}
.blog-grid .card .head {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin-bottom: 10px;
  flex-direction: column;
  gap: 10px;
}
.blog-grid .card .head p {
  font-size: 20px;
  text-transform: capitalize;
}
.blog-grid .card h2 {
  font-size: 18px;
  color: var(--paragraph);
}
.year-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year-holder span {
  font-size: 18px;
}


.pagination {
  padding: 70px 0 100px;
}
.pagination .container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pagination .container .links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pagination .container .links .active {
  color: white;
  background-color: var(--main-color);
  border-radius: 50px;
  transition: 0.3s;
}
.pagination .container .links a {
  color: var(--paragraph);
  background-color: var(--divs-color);
  padding: 5px 14px;
  border-radius: 50px;
  transition: 0.3s;
  border: none;
  font-size: 20px;
}
.pagination .container .button:hover, .pagination .container .link:hover {
  background-color: #4070f4;
  color: #fff; 
}
.pagination .container .button {
  color: var(--paragraph);
  background-color: var(--divs-color);
  padding: 5px 14px;
  border-radius: 50px;
  transition: 0.3s;
  border: none;
}
.pagination .container .button:disabled {
  color: #b3b3b3;
  pointer-events: none;
}











                                                           /*! join-us */

.join-us {
  padding: 70px 0;
  background-color: var(--main-color);
  overflow: hidden;
}
.join-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-us .description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.join-us .description h3 {
  font-size: 45px;
  font-weight: 700;
  max-width: 590px;
}
.join-us .description p {
  max-width: 714px;
  line-height: 1.9;
}
.join-us a {
  padding: 11px 47px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #495057;
  font-weight: 600;
  align-self: center;
  margin: 25px 0;
  transition: 0.4s;
}
.join-us a:hover {
  background-color: #f36a8d;
  transition: 0.4s;
}

@media (min-width:1400px) {
  .blogs .card .img-holder img {
    min-width: 100%;
  }
}
@media (max-width:1200px) { 
  .blog-grid .card {
    width: 31%; 
  } 
}
@media (max-width:992px) { 
  .join-us .description h3 {
    font-size: 30px; 
  }
  .join-us .container {
    flex-direction: column;
  }
  .blog-grid .card {
    width: 48%; 
  }
}
@media (max-width:786px) {
  .blogs .card .img-holder img {
    min-width: 100%;
  }
  .blog-grid .card {
    width: 100%; 
  }
  .blog-grid .cards {
    padding: 0 20px 0; 
  }
  .pagination .container .links a {
    padding: 0px 9px;
    font-size: 17px;
}

.pagination .container .button {
  padding: 6px 7px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}