.header .darkLight i,
.header .darkLight span,
.header .searchToggel i {
    position: absolute;
    color: var(--pars-other) ;
    cursor: pointer;
    transition: all 0.3s ease;
}
                                                                                  /*! error */
.error {
  padding: 200px 0 50px;
}
.error .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 25px;
}
.error .container h1 {
  color: var(--main-color);
  font-size: 169px;
  font-weight: 600;
  margin-bottom: -24px;
}
.error .container h3 {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: -5px;
}
.error .container p {
  color: var(--paragraph);
  max-width: 426px;
  text-align: center;
  font-size: 17px;
}
.error .container a {
  padding: 12px 30px;
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  font-weight: 500;
}

@media (max-width:786px) {
  .error .container h3 {
    text-align: center;
  }
}