* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Outfit';
}
body {
  height: 100vh;
  background-color: var(--body-color);
}
:root {
  --body-color:  #f4f7fa;
  --bars-color:  #f4f7fa;
  --main-color:  #4e6bff;
  --text-color:  #2f2f2f;
  --paragraph :  #7f858f;
  --search-bar:  #f2f2f2;
  --search-text: black;
  --search-icon: #4e6bff;
  --divs-color:  #efefefb8;
  --pars-other:  #2f2f2f;
}
body.dark {
  --body-color:  #171918;
  --bars-color:  #171918;
  --side-color:  #1c2136;
  --main-color:  #4e6bff;
  --text-color:  #fff;
  --paragraph :  #79808a;
  --search-bar:  #232625;
  --search-text: #fff;
  --search-icon: #f36a8d;
  --divs-color:  #232625;
  --pars-other:  #fff;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.7rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
p {
  margin-bottom: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
input {
  color: var(--paragraph);
}

                                                                              /*! Header */

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding-top: 12px;
  z-index: 101;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu .active {
    color: var(--main-color);
}
.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.header .logo img {
    width: 45px;
}
.header .logo h1 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--text-color);
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-links li {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.nav-links li a {
    font-size: 17px;
    font-weight: 400;
    color: var(--paragraph);
    text-transform: capitalize;
}
.nav-links li span {
    color: var(--paragraph);
}
.nav-links li i {
    font-size: 12px;
    color: var(--paragraph);
}
.header .menu .nav-links li:last-child {
    position: relative;
}
.mega-menu {
    position: absolute;
    left: -82%;
    padding: 35px;
    background-color: var(--search-bar);
    border-bottom: 6px solid #ea6c8c;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    z-index: -1;
    border-radius: 14px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    visibility: hidden;
}
.viewTwo {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 33px) !important;
    visibility: inherit;
    transition: 0.3s;
}
.mega-menu .links {
    flex-direction: column;
}
.mega-menu .links li {
    position: relative;
    min-width: 152px;
}
.mega-menu .links li a {
    padding: 12px 0px 12px 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-transform: capitalize;
    transition: var(--main-transition);
}
.mega-menu .links li a:hover {
    color: var(--main-color);
}
.header .holder {
    display: flex;
    gap: 15px;
}
.header .holder a {
    color: white;
    font-size: 18px;
    background-color: #6881ff;
    border-radius: 50px;
    padding: 12px 30px;
}
.header .darkLight-searchBox {
    display: flex;
    align-items: center;
}
.header .darkLight,
.header .searchToggel {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    margin: 0 5px;
}
.header .darkLight i,
.header .darkLight span,
.header .searchToggel i {
    position: absolute;
    color: var(--text-color) ;
    cursor: pointer;
    transition: all 0.3s ease;
}
.header .darkLight .sun {
    opacity: 0;
    pointer-events: none;
}
.header .darkLight.active .sun {
    opacity: 1;
    pointer-events: auto;
}
.header .darkLight.active i.moon {
    opacity: 0;
    pointer-events: none;
}





.header .xClose {
    opacity: 0;
    pointer-events: none;
}
.header .xClose.viewss {
    opacity: 1 !important;
    pointer-events: auto !important;
}
.header i.bars.viewss  {
    opacity: 0;
    pointer-events: none;
}










.header .searchToggel i.cancel {
    opacity: 0;
    pointer-events: none;
}
.header .searchToggel .search-field.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}
.header .searchToggel .search-field.active i.search {
    opacity: 0;
    pointer-events: none;
}
.searchBox {
    position: relative;
}
.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--search-icon);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggel .search-field.active {
  bottom: -70px;
  opacity: 1;
  pointer-events: auto;
}
.search-field::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 14px;
    height: 12px;
    width: 12px;
    background-color: var(--search-icon);
    transform: rotate(-45deg);
    z-index: -1;
    transition: 0.3s;
}
.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: var(--search-text);
  background-color: var(--search-bar);
}
.search-field i {
    position: absolute;
    color: var(--search-icon)!important;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
.search-field .search2 {
  color: var(--search-icon);
}
.header.sticky {
  background-color: var(--search-bar);
  padding-bottom: 14px;
}
.header.sticky .darkLight i {
  color: var(--text-color);
}
.header.sticky .darkLight span {
  color: var(--text-color);
}
.header.sticky .searchToggel i {
  color: var(--text-color);
}












@media (min-width:993px) {
  .bars,
  .xClose {
    display: none !important;
}
  .user {
    display: none;
  }
  }
  
  @media (max-width:992px) {
  .nav-links,
  .header .holder a {
    display: none;
  }
  .user {
    color: white;
    position: absolute;
    top: 41px;
    right: 94px !important;
    font-size: 18px;
    transition: 0.3s;
  }
  .header .darkLight i,
  .header .darkLight span,
  .header .searchToggel i {
    color: white;
  }
  .header .holder {
    position: relative;
    right: 59px;
}

  .header .darkLight, .header .searchToggel {
  width: 24px;
  }
  .bars,
  .xClose {
    display: block;
    margin-left: 8px;
    position: absolute;
    top: 41px;
    right: 60px !important;
    font-size: 20px;
    color: white;
    transition: 0.3s;
  }
  .header.sticky .bars {
    color: var(--text-color);
    top: 35px;
  }
  .header.sticky .xClose {
    color: var(--text-color);
    top: 35px;
  }
  .header.sticky .user {
    color: var(--text-color);
    top: 35px;
  }
  .section1 {
    padding-top: 0px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--search-bar);
    top: 100px;
    width: 94%;
    left: 11px;
    padding: 20px 0 33px;
    gap: 20px;
    border-radius: 7px;
  }
  .view {
    display: flex !important;
    left: 27px;
  }
  .mega-menu {
    flex-direction: column;
    position: absolute;
    background-color: var(--search-bar);
    top: 100px;
    left: -34px;
    padding: 20px 0 33px;
    gap: 20px;
    border-radius: 7px;
    border: none;
    transition: 0.3s;
  }
  .nav-links li {
    align-self: self-start;
    margin-left: 35px;
  }
  .mega-menu .links li a {
    padding: 12px 0px 12px 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    transition: 0.3s;
    color: var(--paragraph);
  }
  }

@media (max-width:786px) {
  .header.sticky .bars {
    color: var(--text-color);
    top: 37px !important;
}
  .header.sticky .xClose {
    color: var(--text-color);
    top: 37px !important;
}
  .header.sticky .user {
    color: var(--text-color);
    top: 37px !important;
}
  .header.sticky .holder {
    top: 26px !important;
}
}
                                                                    /*! footer */

.footer {
  padding: 110px 0 0;
}
.footer .container h1 {
  color: var(--text-color);
  font-size: 30px;
  margin-bottom: 34px;
}
.footer .base {
  color: var(--text-color);
  font-size: 30px;
  margin-bottom: 0;
}
.footer .container p {
  color: var(--paragraph);
}
.footer .main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 40px;
}
.footer .main .social {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .main .social .logo {
  display: flex;
  gap: 14px;
  align-items: center;
  position: relative;
  top: -9px;
}
.footer .main .logo img{
  max-width: 22%;
}
.footer .main ul {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .main ul li {
  color: var(--paragraph);
}
.footer .main ul li span {
  color: white;
  font-size: 13px;
  background-color: #20ca66;
  border-radius: 50px;
  padding: 4px 13px;
  margin-left: 10px;
}
.footer .social div {
  display: flex;
  gap: 20px;
}
.footer .social div a {
  color: var(--paragraph);
  font-size: 25px;
  transition: 0.3s;
}
.footer .social div a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

.footer .main .newsletter .input-holder {
  position: relative;
}
.footer .main .newsletter input {
  background-color: var(--divs-color);
  border: 1px solid var(--paragraph);
  border-radius: 50px;
  margin-top: 18px;
  padding: 12px 21px;
  width: 100%;
}
.footer .main .newsletter .input-holder i {
  position: absolute;
  top: 51%;
  right: 8%;
  color: var(--paragraph);
  font-size: 16px;
}
.footer hr {
  color: var(--text-color);
  margin: 85px 0 33px;
}
.footer .end {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
}
.footer .end div {
  display: flex;
  color: var(--paragraph);
  gap: 30px;
}

                                                                   /*! @media */


@media (max-width:786px) {
  .nav-links {
    left: 11px !important;
  }
  .header .darkLight, .header .searchToggel {
    width: 25px;
  }
  .searchToggel.active .search-field {
    bottom: -72px;
    right: -84%;
  }
  .searchBox .search-field {
    right: -26px;
  }
  .search-field::before {
    display: none;
  }
  
  .user {
    color: var(--text-color);
    position: absolute;
    top: 41px;
    right: 47px !important;
    font-size: 18px;
  }
  .bars,
  .xClose {
    right: 15px !important;
  }  
  .header .darkLight,
  .header .searchToggel {
    width: 23px;
  }
  .header .holder {
    position: absolute;
    right: 72px;
    top: 30px;
  }
  .header .darkLight i,
  .header .darkLight span,
  .search,
  .header .bars,
  .header .xClose {
    color: var(--text-color) !important;
  }
  .header .holder a {
    display: none;
  }
  .footer .end {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer {
    padding: 110px 10px 0;
  }
  .footer .main .logo img {
    max-width: 17%;
  }
  .footer .container p {
    font-size: 20px;
  }
  }